.layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: var(--48px);

  h1 {
    align-self: flex-start;
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;

  button {
    display: flex;
    width: 335px;
    height: 56px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--White, #FFFFFF);
    background: var(--BNA-cyan, #009EDB);
    cursor: pointer;
  }
}

.input-container {
  display: flex;
  flex-flow: column nowrap;

  input {
    padding: 18px 0px 18px 20px;
    border: 1px solid var(--Gray-5, #E0E0E0);
  }
}
